@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

@import "utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

h1 {
  color: $light-gray;
  font-family: 'DM Serif Display', sans-serif;
  font-size: 67px;
  font-weight: 400;
  line-height: 1;
  width: 90%;
  margin-bottom: 25px;
}

h2 {
  font-size: 55px;
  margin-bottom: 60px;
  color: $dark-violet;
}

h3 {
  color: $light-gray;
  font-size: 40px;
  margin-right: 20px;
  font-weight: 400;
  font-family: 'DM Serif Display', sans-serif;
  line-height: 1;
}

h4 {
  font-size: 25px;
  margin: 25px 0;
  color: $dark-violet;
}

p {
  color: $gray-violet;
  font-family: 'Karla', sans-serif;
}

ul {
  list-style-type: none;
}

button {
  background: transparent;
  padding: 10px 25px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  transition: $transition-hover;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 700;
  transition: $transition-hover;
}

// Navbar
nav {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 40px auto;

      img {
        height: 100%;
      }

      .main-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
  
        a {
          color: $gray-violet;

          &:hover {
            color: $dark-violet;
          }
        }
      }

      .hamburger {
        padding: 5px;
        width: 40px;
        height: 35px;
        position: relative;
        cursor: pointer;
        background: none;
        display: none;

        .top-line,
        .middle-line,
        .bottom-line {
          position: absolute;
          top: 20%;
          left: 15%;
          width: 24px;
          height: 2px;
          background: $dark-violet;
          transform: rotate(0);
          transition: all 0.5s;
        }

        .middle-line {
          translate: 0 8px;
        }

        .top-line {
          translate: 0 16px;
        }
      }
    }
}

// Mobile Menu
.mobile-menu {
  display: none;
}

// Header
header {
  background-color: $dark-violet;
  height: 550px;
  padding: 90px 0;

  .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;

    .people-img {
      width: 90%;
      height: 550px;
      background: url('/dist/images/image-intro-desktop.jpg') no-repeat center center/cover;
    }

    .header-cta {
      hr {
        width: 20%;
        margin-bottom: 40px;
      }

      p {
        color: $light-gray;
        line-height: 1.6;
        margin-bottom: 30px;
      }
    }
  }
}

// Benefits Section
main {
  padding: 230px 0 50px 0;

  hr {
    margin-bottom: 40px;
    width: 15%;
  }

  .benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 25px;

    img {
      width: 70px;
    }
  }

  .more-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $dark-violet;
    margin: 100px 0;
    padding: 50px;
    height: 180px;
    gap: 400px;

    button {
      width: 250px;
    }
  }
}

// Footer
footer {
  background-color: $light-gray;
  padding: 50px 0;

  .social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid $gray-violet;

    img {
      margin-right: 10px;
    }
  }

  .footer-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;

    li {
      margin-bottom: 15px;
    }

    a:hover {
      text-decoration: underline;
    }
    
    .category-heading {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}

// Tablets & Big Smartphones
@media (max-width: 768px) {
  nav {
    .container {
      .main-menu {
        display: none;
      }

      .hamburger {
        display: block;
      }
    }
  }
}